:root {
    --main-color: #a1ffff;
    --secondary-color: #a1ffff76;
    --accent1-color: #0b882e;
    --accent2-color: #ffdcf8;
    --border-color: rgb(75, 40, 8);
}

body {
    background-color: #eaffee;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 100px 600px;
    gap: 200px;
    justify-content: space-evenly;
	align-items: center;
    background-color: var(--secondary-color);
	max-width: 1000px;
    border: 1px solid var(--border-color);
}

.employees {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.imp {
    padding: 20px;
}

.emp-profiles {
    border: 1px solid var(--border-color);
    width: auto;
    height: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
}

.logo img {
	width: 100px;
	height: auto;
}

nav {
	display: flex;
    justify-content: space-around;
}

header a {
    width: 100%;
}

.about {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-style: normal;
    padding: 20px;
    color: #28f99e;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

h1 {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-style: normal;
    padding: 20px;
    color: var(--accent1-color);
    display: flex;
    justify-content: center;
}

.home {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-size: 5rem;
    font-style: normal;
    padding: 20px;
    color: #28f99e;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    padding: 20px;
}

article {
    position: absolute;
    top: 200px; left: 15px;
    background-color: #eaffeeaa;
    width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.hero article img {
    float: right;
    width: 300px;
    padding: 10px;
}


h2 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent1-color);
    padding: 20px;
    display: grid;
    justify-content: center;
}

.contact-info {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

.contact-info p {
    display: flex;
    justify-content: space-evenly;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: var(--accent1-color);
    padding: 20px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    padding: 0px 20px 60px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.adventure {	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    justify-content: center;
	align-items: center;
    border: 1px solid var(--border-color);
    padding: 20px 20px 60px;
    margin-top: 30px;
    background-color: var(--secondary-color); 
}

.adventure h2 {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;
}

.adventure img {
    width: 250px;
    height: auto;
    grid-row-start: 2;
}

figcaption {
    display: flex;
    justify-content: center;
}

footer {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
    gap: 200px;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sociallinks {
    text-decoration: none;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.map {
    display: grid;
    justify-content: center;
    padding: 20px;
}

.contact-form {
    width: 1500px;
    margin: auto;
    padding: 0;
    border: 2px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.75rem;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(75, 40, 8);
    font-size: 1.3em;
}

label {
    text-align: left;
    padding-left: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(7, 48, 7);
    color: rgb(255, 233, 255);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
  
button:hover {
    background-color: rgb(40, 160, 21);
}

.textarea-label {
    margin-bottom: 5px;
}

.form-item {
    display: grid;
    align-items: center;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.purpose {
    display: flex;      
    gap: 15px;
    align-items: center;
    padding: 10px 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
} 

.contact {
    display: grid;
    justify-items: center;
}

.contact input {
    color: rgb(255, 233, 255);
    background-color: rgb(34, 122, 20);
    border: 0px;
    width: 150px;
    height: 50px;
}

.trips-all {
    display: flex;
    justify-content: space-evenly;
}

.trip-ex {
    border: 1px solid var(--border-color);
    padding: 30px 20px 20px;
    margin: 50px 20px;
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px 10px;
}

.trip-ex h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.trip-ex img {
    width: 200px;
    height: fit-content;
} 

.trip-list {
    border: 1px solid var(--border-color); 
    width: 33%;
    padding: 20px;
    margin: 50px 20px;
}

.trip {
    display: grid;
    justify-items: center;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    text-align: center;
}

.trip button {
    color: rgb(255, 233, 255);
    background-color: rgb(34, 122, 20);
    border: 0px;
    width: 250px;
    height: 50px;
}

.aboutus {
    border: 1px solid var(--border-color);
    padding: 20px 30px 50px;
    margin: 50px 0px 50px;
    display: grid;
}

.our-purpose {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: start;
    align-items: center;
}

.offerings {
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-items: start;
    align-items: center;
}

.aboutus img {
    width: 300px;
    height: auto;
}