:root {
    --main-color: #00BFFF;
    --secondary-color: #3CDFDF;
    --accent1-color: #47D680;
    --accent2-color: #FFEFEF;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 100px 600px;
    gap: 200px;
    justify-content: space-evenly;
	align-items: center;
    background-color: var(--secondary-color);
	max-width: 1000px;
}

.logo img {
	width: 100px;
	height: auto;
}

header nav {
	display: flex;
    justify-content: space-around;
}

header a {
    width: 100%;
}

h1 {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-style: normal;
    padding: 20px;
    border: var(--secondary-color) 5px;
    color: var(--accent1-color);
    position: absolute;
    top: 20px; left: 800px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    padding: 20px;
}

article {
    position: absolute;
    top: 100px; left: 15px;
}

.hero article img {
    float: right;
    width: 300px;
    padding: 10px;
}


h2 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent1-color);
    padding: 20px;
    border: var(--secondary-color) 5px;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: var(--accent1-color);
    padding: 20px;
    border: var(--secondary-color) 5px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adventure {	
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    justify-content: space-evenly;
	align-items: center;
}

.adventure h2 {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 6;

}

.adventure img {
    width: 337px;
    height: auto;
    grid-row-start: 2;
}

footer {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 2fr 1fr;
    gap: 200px;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
}

footer p {
    align-items: center
}

.sociallinks {
    text-decoration: none;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}